.new-book{
    font-family: 'Ubuntu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.new-book-btn{
    width: 200px;
    background: none;
    appearance: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Ubuntu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.new-book-btn:hover{
    background-color: rgb(211, 211, 211);
}

.library{
    display: flex;
    flex-wrap: wrap;
}

.card{
    box-shadow: 3px 3px 3px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-family: 'Ubuntu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-item{
    margin: 3px;
    font-size: 15px;
}

.title{
    font-weight: bold;
    font-size: 23px;
}

