*{
    font-family: 'Ubuntu', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.new-book{
    display: flex;
    justify-content: center;
}

.form-container{
    display: flex;
    justify-content: center;
}

.book-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 20px;
    background-color: lightgray;
    z-index: 10;
    padding-bottom: 20px;
}

.submit-btn{
    width: 50%;
    margin: auto auto;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: black;
    border: none;
    font-weight: bold;
    font-size: 15px;
}


#overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 200ms ease-in-out;
    opacity: 0%;
    background-color: rgba(0,0,0, 0.8);
    pointer-events: none;
}

.book-form.active{
    transform: translate(-50%, -50%) scale(1);
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.book-form > form{
    display: flex;
    flex-direction: column;
}

input,
select{
    width: 300px;
    height: 40px;
    border: none;
    margin: 5px;
    padding-left: 5px;
    border-radius: 10px;
}

.form-title{
    margin: 0px;
    display: flex;
    width: 100%;
    padding-left: 200px;
}

#close{
    font-weight: bold;
    font-size: 25px;
    background: none;
    border: none;
    margin: auto;
    padding-right: 60px;
    padding-bottom: 10px;
}



.new-book-btn{
    width: 200px;
    background: none;
    appearance: none;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.new-book-btn:hover{
    background-color: rgb(211, 211, 211);
}

.library{
    display: flex;
    flex-wrap: wrap;
}

.card{
    box-shadow: 3px 3px 3px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.card-item{
    margin: 3px;
    font-size: 15px;
}

.title{
    font-weight: bold;
    font-size: 23px;
}

.status{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label{
    margin: 0px;
}

input[type="checkbox"]{
    width: 20px;
}

